/* styles.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f8ff;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #4682b4;
    padding: 10px;
    color: white;
    
}

.menu-button {
    cursor: pointer;
}
.menu-button:hover {

    color: #000;
}

.dropdown select {
    padding: 5px;
}

.countdown, .current-directory {
    margin: 0 10px;

}

.menu {
    display: none;
    position: absolute;
    background-color: #4682b4;
    top: 73px;
    left: 0px;
    width:150px;
	height:450px;
    border: 1px solid #ccc;
    padding: 10px;
    overflow: auto;
}

.menu button {
    display: block;
    margin: 5px 0;
    padding: 10px;
    width: 150px;
    text-align: center;
    background-color: #f0f8ff;
}
.menu button:hover {
    background-color: #3e8e41;
}

#main-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center; /* 垂直居中 */  
    padding: 2px;
    width: 100%;
    height: 600px;
}

#main-content img {
    float: left;
    max-width: 30%;
    height: auto; /* 自动保持比例 */
    margin: 10px;
    border: 1px solid #ccc;
    transition: transform 1s; /* 添加动画效果 */
}
#main-content img:hover {
    transform: scale(1.15); /* 悬停时放大 */
}
#logout-button {
    background-color: #4682b4;
    position:fixed;
    bottom:10px;
    right:10px;
    color: #f0f8ff;
}
#logout-button:hover {
    background-color: red;
}

#categories {
    width: 80%; /* 设置容器的宽度 */
    margin: 0 auto; /* 使容器在页面中居中 */
    padding: 10px; /* 添加内边距 */
    background-color: #f9f9f9; /* 设置背景颜色 */
    border: 1px solid #ddd; /* 添加边框 */
    border-radius: 5px; /* 添加圆角 */
    font-family: Arial, sans-serif; /* 设置字体 */
    font-size: 14px; /* 设置字体大小 */
    color: #333; /* 设置字体颜色 */
}

#categories label {
    display: block; /* 使每个标签占一行 */
    margin-bottom: 10px; /* 添加底部间距 */
}

#categories input[type="checkbox"] {
    margin-right: 10px; /* 添加复选框和文本之间的间距 */
}
